/** Base font for the whole site, overriding Bootstrap **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*
Main font : #3a3a3a;
Sub font : #505050;
Inverse font : #d2d2d2;
Main blue : #3f7cfc;
Background gray : #f3f3f3;
*/

@media (min-width: 1200px){
    .container {
        width: 960px;
    }
}

.text-center {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 172px;
    color: #505050;
    font-family: 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    background-color: #f3f3f3;
}

h1, h2 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

a, a:hover {
    color: #505050;
}

.navbar-brand img {
    width: 100px;
    margin: 2px 0;
}

.navbar-brand span {
    color: #ddd;
    font-size: 1rem;
    margin-left: 6px;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 1.15rem;
}

.navbar-toggleable-md {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .nav-link.nav-btn {
    background-color: #4683ff;
    color: white;
    padding: 8px 16px;
    border-radius: 2px;
}

.navbar-dark .navbar-nav .nav-link.nav-btn:hover {
    background-color: #306ce8;
    color: #eee;
}

header {
    background: #2334ab;
    margin-top: 57px;
}

.header-lg {
    padding: 60px 0;
}

.header-lg h1 {
    color: white;
    margin-bottom: 25px;
}

.header-lg input, .header-lg input:hover, .header-lg input:focus, .header-sm input, .header-sm input:hover, .header-sm input:focus {
    border: none;
}

.header-lg .btn, .header-sm .btn {
    border: none;
}

.header-lg .btn:hover, .header-sm .btn:hover {
    background: white;
}

.header-sm {
    padding: 10px 0;
}

.header-sm .breadcrumb {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    background: none;
    border: none;
}

.header-sm .breadcrumb a {
    color: #c5cdff;
}

.header-sm .breadcrumb a:hover {
    color: white;
    text-decoration: underline;
}

.header-sm .breadcrumb-item.active {
    color: white;
}

.header-sm .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
}

.header-sm .searchbar {
    padding: 0;
}

main {
    padding-top: 60px;
    min-height: 100%;
}

main section {
    margin-bottom: 60px;
}

.content {
    background-color: white;
    border: 1px solid #ddd;
    padding: 60px 30px;
}

.content h2.content-title {
    font-size: 2rem;
    color: #2334ab;
    margin-bottom: 15px;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    line-height: 2.4rem;
}

.content ul.content-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.content ul.content-list li {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    font-size: 1.1rem;
}

.content ul.content-list li:last-child {
    border-bottom: none;
}

.content a.content-view-all {
    color: #4683ff;
}

.content a.content-view-all:hover {
    text-decoration: none;
}

.content a.content-view-all h4 {
    font-size: 1.1rem;
    margin-top: 15px;
    border: 1px solid #4683ff;
    padding: 12px;
    text-align: center;
}

.content a.content-view-all h4:hover {
    background: #eef4ff;
}

.content a.category-link, article a.translation-link {
    margin-right: 10px;
    background: #999;
    color: white;
    padding: 0 8px;
}

.content a.category-link:hover {
    background: #777;
    text-decoration: none;
}

.index .content div.category:first-child {
    padding-right: 30px;
    border-right: 1px solid #ddd;
}

.index .content div.category:last-child {
    padding-left: 30px;
}

.index .content h2.content-title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2px;
}

article img {
    max-width: 100%;
    margin: 15px 0;
}

article h2.article-title {
    font-size: 2rem;
    color: #2334ab;
    margin-bottom: 15px;
}

article h3.article-info {
    color: #999;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

article div.article-content {
    margin-top: 20px;
}

article div.article-content h1 {
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 2.5rem;
}

article div.article-content h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    line-height: 2.5rem;
}

article div.article-content h3 {
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

article div.article-content h4 {
    font-size: 1.3rem;
    margin-top: 2rem;
    line-height: 2rem;
}

article div.article-content a {
    color: #4683ff;
}

article div.article-content a:hover {
    color: #1550ca;
}

article div.article-content li p {
    margin-bottom: .5rem;
}

article div.article-content table {
    margin-bottom: 1rem;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 0;
}

.paginator .page-num:hover, .paginator .disabled:hover {
    background-color: white;
}

.paginator .disabled span {
    color: #aaa;
}

footer {
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    background-color: #4f4f4f;
    width: 100%;
    color: #aaa;
    padding: 50px 0;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.tipue_search_content_title {  
    margin-top: 21px;
    font-size: 1.5rem;
    font-weight: 600;
    border-top: 1px solid #ddd;
    padding-top: 21px;
}

.tipue_search_content_url {
    word-wrap: break-word;
    hyphens: auto;
    margin: 5px 0;
}

.tipue_search_content_url a, .tipue_search_related_text a {
    color: #4683ff;
    text-decoration: none;
    font-size: 0.9rem;
}

.tipue_search_content_url a:hover, .tipue_search_related_text a:hover, .tipue_search_related_before, .tipue_search_related_after {
    color: #1550ca;
}

.tipue_search_content_text {
    color: #888;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 5px;
}

.tipue_search_content_bold{
    color: #2334ab;
    font-weight: bold;
}

.tipue_search_content_debug {
    color: #333;
    margin: 5px 0;
}

.tipue_search_related_title{
    color: #333;
    margin: 26px 0 7px 0;
}

.tipue_search_related_cols {
    -webkit-columns: 230px 2;
    -moz-columns: 230px 2;
    columns: 230px 2;
}

#tipue_search_warning {
    color: #2334ab;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

#tipue_search_results_count {
    font-size: 2rem;
    font-weight: 600;
    color: #2334ab;
}

#tipue_search_foot {
    margin-top: 50px;
    text-align: center;
}

#tipue_search_foot_boxes {
    padding: 0;
    margin: 0;
}

#tipue_search_foot_boxes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#tipue_search_foot_boxes li a {
    padding: .275rem .75rem;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-right: none;
    color: #4683ff;
    font-size: .875rem;
    cursor: pointer;
}

#tipue_search_foot_boxes li.current {
    padding: .275rem .75rem;
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-right: none;
    color: #505050;
    font-size: .875rem;
}

#tipue_search_foot_boxes li:first-child a, #tipue_search_foot_boxes li:first-child.current {
    border-radius: .2rem 0 0 .2rem;
}

#tipue_search_foot_boxes li:last-child a, #tipue_search_foot_boxes li:last-child.current {
    border-right: 1px solid #e3e3e3;
    border-radius: 0 .2rem .2rem 0;
}

#tipue_search_foot_boxes li a:hover {
    background: #f6f6f6;
}

/* spinner */

.tipue_search_spinner {
    width: 50px;
    height: 28px;
}

.tipue_search_spinner > div {
    background-color: #e3e3e3;
    height: 100%;
    width: 2px;
    display: inline-block;
    margin-right: 2px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.tipue_search_spinner .tipue_search_rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.tipue_search_spinner .tipue_search_rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@media (max-width: 991px){
    ul.navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }

    .navbar-dark .navbar-nav .dropdown {
        border-bottom: 1px solid #666;
        padding-bottom: 10px;
    }

    .navbar-dark .navbar-nav .nav-link.nav-btn {
        margin-top: 12px;
        text-align: center;
    }
}

@media (max-width: 767px){
    .header-sm .breadcrumb {
        margin-bottom: 15px;
    }

    .header-sm .searchbar {
        margin-bottom: 5px;
    }

    .index .content div.category:first-child {
        padding: 0 15px;
        border: none;
    }

     .index .content div.category:last-child {
        padding: 0 15px;
        margin-top: 60px;
     }
}

@media (max-width: 575px){
    
}
