/* Xoxzo v3.0 using Bootstrap4 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*
Main font : #35313b;
Sub font : #505050;
Inverse font : #d2d2d2;
Main blue : #3f7cfc;
Background gray : #f3f3f3;
*/

html {
  position: relative;
  min-height: 100%;
}

html:lang(ja) {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  background-color: white;
  color: #35313b;
  margin-bottom: 200px;
}

body:lang(ja) {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

pre {
  background: #3b3b3b;
  padding: 1.5rem;
  border-radius: .25rem;
  color: white;
}

code {
  background-color: #f1f1f1;
  padding: 3px;
}

.navbar .nav-link {
  font-size: .9rem;
}

.navbar .navbar-nav .nav-link.btn-point {
  color: white;
  padding: .5rem .75rem;
  margin: 1rem 0;
}

.navbar .navbar-nav .nav-link.btn-point:hover {
  color: white;
}

.navbar button {
  border: none;
}

.navbar button:focus {
  outline: none;
  box-shadow: none;
}

.navbar .dropdown-menu {
  font-size: .9rem;
  min-width: auto;
}

.navbar .dropdown-menu a {
  color: #777;
}

.navbar .dropdown-menu a:hover {
  color: #ff7259;
  background: none;
}

.navbar-brand img {
  width: 100px;
  margin: 2px 0;
}

.navbar-brand span {
  color: #ddd;
  font-size: 1rem;
  margin-left: 6px;
}

.main-nav {
  background-color: #132d4e;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

a:focus {
  outline: none;
}

.link-point {
  color: #ff7359;
}

.link-point:hover {
  color: #fe4b4b;
}

.link-underline {
  color: #777;
  border-bottom: 2px solid #80baff;
}

.link-underline:hover {
  text-decoration: none;
  color: #80baff;
}

.btn-point {
  color: white;
  background-color: #ff7359;
  border: 1px solid #ff7359;
}

.btn-point:hover {
  color: white;
  box-shadow: inset 0 0 0 30px #fe4b4b;
  border-color: #fe4b4b;
}

.btn-point:disabled {
  color: white;
  background-color: #ff8973;
}

.btn-point:focus {
  box-shadow: inset 0 0 0 30px #fe4b4b;
  border-color: #fe4b4b;
}

.btn-white {
  background: white;
  height: 36px;
}

.btn-white:hover {
  color: #ff7359;
}

.bg-mid {
  background-color: #f2f5f9;
}

main {
  padding-top: 30px;
  padding-bottom: 25px;
}

header {
  margin-top: 57px;
}

header .form-control:focus {
  box-shadow: none;
}

.header-lg {
  padding: 60px 0;
  background: #354d69;
}

.header-lg h1 {
  color: white;
  margin-bottom: 25px;
  font-size: 2rem;
  font-family: 'Lato', 'Noto Sans', Helvetica, Arial, sans-serif;
}

.header-lg input, .header-lg input:hover, .header-lg input:focus, .header-sm input, .header-sm input:hover, .header-sm input:focus {
  border: none;
  height: 36px;
}

.header-lg .btn, .header-sm .btn {
  border: none;
  border-radius: 0 .25rem .25rem 0;
}

.header-lg .btn:hover, .header-sm .btn:hover {
  background: white;
}

.header-sm {
  padding: 1rem 0;
  background: #f2f5f9;
}

.header-sm .breadcrumb {
  padding: 0;
  padding-left: 3px;
  margin: 0;
  background: none;
  font-size: .9rem;
}

.header-sm .breadcrumb-item+.breadcrumb-item::before {
  content: "›";
}

.header-sm .searchbar {
  width: 100%;
}

.header-sm .searchbar .input-group {
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.content a.category-title {
  text-decoration: none;
}

.content h2.content-title {
  color: #0c498e;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  line-height: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Lato', 'Noto Sans', Helvetica, Arial, sans-serif;
}

.index .content div.category:first-child {
  padding-right: 30px;
}

.index .content h2.content-title:hover {
  color: #4c9eff;
}

.index h5 {
  font-size: 1.1rem;
}

.content ul.content-list {
  padding: 0;
  list-style-type: none;
}

.content ul.content-list li {
  padding-bottom: .75rem;
}

.content ul.content-list li a, .header-sm .breadcrumb a {
  color: #777;
}

.content ul.content-list li a:hover, .header-sm .breadcrumb a:hover {
  color: #4c9eff;
}

.content ul.content-list li a.badge {
  color: white;
  margin-right: .3rem;
}

article {
  max-width: 850px;
  margin: 0 auto;
}

article img {
  max-width: 100%;
  margin: 15px 0;
}

article p {
  margin-bottom: .5rem;
}

article h2.article-title {
  font-size: 1.75rem;
  line-height: 2.2rem;
  font-weight: bold;
}

article p.article-info {
  color: #999;
  font-size: 1.1rem;
}

article .badge-blue {
  font-size: .9rem;
  font-weight: normal;
  border: 1px solid #4c9eff;
  color: #4c9eff;
}

article .badge-blue:hover {
  border-color: #117eff;
  color: #117eff;
  text-decoration: none;
  background: #eff6ff;
}

article div.article-content {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

article div.article-content a {
  color: #ff7259;
  font-weight: bold;
}

article div.article-content a:hover {
  text-decoration: none;
  color: #80baff;
}

article div.article-content li p {
  margin-bottom: .5rem;
}

article div.article-content table {
  margin-bottom: 1rem;
}

article div.article-content h1 {
 font-size: 1.75rem;
 font-weight: bold;
 line-height: 2.25rem;
}

article div.article-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

article div.article-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
}

article div.article-content h4 {
  font-size: 1.25rem;
}

article div.article-content p+h2, article div.article-content p+h3, article div.article-content p+h4 {
  margin-top: 2rem;
}

.pagination {
  margin-top: 2rem;
}

.paginator .page-num:hover, .paginator .disabled:hover {
  background-color: white;
}

.paginator .disabled span {
  color: #aaa;
}

.page-link {
  color: #ff728d;
}

.page-link:hover {
  color: #ff7359;
  background: rgba(255, 133, 106, 0.12);
}

.page-link:focus {
  box-shadow: none;
}

/* Footer */
footer {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  background-color: #4b4d51;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  padding: 50px 0;
}

footer p {
  line-height: 1.5rem;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

footer a i {
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 40px!important;
}

footer .fa-instagram {
  font-size: 1.55rem;
  font-weight: bold;
}
/* End footer */

#tipue_search_image_modal {
  display: none;
}

.tipue_search_content_title {  
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.25rem;
  border-top: 1px solid #ddd;
}

.tipue_search_content_title a {
  color: #ff7359;
}

.tipue_search_content_title a:hover {
  text-decoration: none;
  color: #fe4b4b;
}

.tipue_search_content_url {
  word-wrap: break-word;
  hyphens: auto;
  margin-bottom: 10px;
}

.tipue_search_content_url a {
  color: #4c9eff;
  font-size: 0.9rem;
}

.tipue_search_content_url a:hover {
  color: #117eff;
  text-decoration: none;
}

.tipue_search_content_text {
  color: #777;
  word-wrap: break-word;
  hyphens: auto;
}

.tipue_search_content_bold {
  color: #122d4e;
  font-weight: bold;
}

.tipue_search_content_debug {
  color: #333;
}

#tipue_search_error {
  color: #dc3545;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

#tipue_search_results_count {
  font-size: 2rem;
  font-weight: 600;
  color: #122d4e;
}

#tipue_search_foot {
  margin-top: 50px;
  text-align: center;
}

#tipue_search_foot_boxes {
  padding: 0;
  margin: 0;
}

#tipue_search_foot_boxes li {
  list-style: none;
  display: inline;
}

#tipue_search_foot_boxes li a {
  padding: .275rem .75rem;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-right: none;
  color: #ff728d;
  font-size: .875rem;
  cursor: pointer;
}

#tipue_search_foot_boxes li.current {
  padding: .275rem .75rem;
  background: #f6f6f6;
  border: 1px solid #e3e3e3;
  border-right: none;
  color: #122d4e;
  font-size: .875rem;
}

#tipue_search_foot_boxes li:first-child a, #tipue_search_foot_boxes li:first-child.current {
  border-radius: .2rem 0 0 .2rem;
}

#tipue_search_foot_boxes li:last-child a, #tipue_search_foot_boxes li:last-child.current {
  border-right: 1px solid #e3e3e3;
  border-radius: 0 .2rem .2rem 0;
}

#tipue_search_foot_boxes li a:hover {
  background: rgba(255, 133, 106, 0.12);
}

@media (min-width: 576px) {
  body {
    margin-bottom: 200px;
  }

  main {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .header-lg h1 {
    font-size: 2.25rem;
  }

  article h2.article-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .index .content div.category:last-child {
    padding-left: 30px;
  }

  .header-sm .searchbar {
    width: initial;
  }
}


@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link.btn-point {
    margin: 0;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}