<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="t4rlWAOKliFFgziLhYYxEpNtIh_W-794Po7iuYIL__Q" />

  {% block head %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:description" content="{% trans %}FAQs to answer your questions regarding the details of service and how to use both Xoxzo APIs and EZSMS{% endtrans %}">
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_opengraph.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@xoxzocom">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{% trans %}FAQs to answer your questions regarding the details of service and how to use both Xoxzo APIs and EZSMS{% endtrans %}">
    <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_twcard.png">
  {% endblock %}

  <meta name="description" content="{% trans %}FAQs to answer your questions regarding the details of service and how to use both Xoxzo APIs and EZSMS{% endtrans %}">

  <title>{% block title %}{% trans %}Xoxzo FAQ Help Center for Xoxzo APIs and EZSMS{% endtrans %}{% endblock title %}</title>
  <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_16x16_favicon.png">

  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css">
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css?v=2">
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>

  {% block hreflang %}
  {% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg main-nav navbar-dark">
    <div class="container">
      <a class="navbar-brand brand-name" href="{{ SITEURL }}">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_navbar_logo_w_trans.png" alt="{% trans %}Xoxzo Logo{% endtrans %}">
        <span>{% trans %}HELP CENTER{% endtrans %}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-1">
            <a class="nav-link" href="{% trans %}https://info.xoxzo.com/en/{% endtrans %}" target="_blank"><i class="fas fa-home" aria-hidden="true"></i> {% trans %}Who We Are{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% trans %}https://hello.xoxzo.com/en/{% endtrans %}" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i> {% trans %}Xoxzo Demo{% endtrans %}</a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="{{ SITEURL }}/search"><i class="fa fa-search" aria-hidden="true"></i> {% trans %}Search{% endtrans %}</a>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe" aria-hidden="true"></i> Language
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/en/">English</a>
              <a class="dropdown-item" href="/ja/">日本語</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-btn nav-link btn btn-point" href="{% trans %}https://www.xoxzo.com/en/{% endtrans %}" target="_blank">{% trans %}Xoxzo Telephony API{% endtrans %}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-sm-5 order-sm-last text-sm-right mb-2">
          <a class="mr-3" href="mailto:help@xoxzo.com"><i class="fas fa-envelope" aria-hidden="true"></i></a>
          <a class="ml-1 mr-3" href="https://twitter.com/xoxzocom" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a class="mr-3" href="https://www.linkedin.com/company/xoxzo-inc-/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="ml-1" href="https://www.instagram.com/lifeatxoxzo/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p class="col-12 col-sm-7 mb-0 text-sm-left">© {{ CURRENTYEAR }} {% trans %}Xoxzo Inc. All rights reserved.<br>Powered by <a href="http://getpelican.com/">Pelican</a>{% endtrans %}</p>
      </div>
    </div>
  </footer>

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tether.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "DigitalDocument",
      "name": "Xoxzo Help Center",
      "url": "https://help.xoxzo.com/",
      "sameAs": [
        "https://twitter.com/xoxzocom",
        "https://www.instagram.com/lifeatxoxzo/",
        "https://www.linkedin.com/company/xoxzo-inc-/",
        "https://www.facebook.com/xoxzotelephony"
      ]
    }
  </script>

  {% block extra_js %}{% endblock %}

  <!-- GA -->
  <script async src=“https://www.googletagmanager.com/gtag/js?id=G-1VRKS7NNXC”></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag(‘js’, new Date());
    gtag(‘config’, ‘G-1VRKS7NNXC’);
  </script>

  <!-- Drip -->
  <script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {};
    _dcs.account = '3014440';

    {% if DEFAULT_LANG == "ja" %}
    _dcq.push(["hideForm", { id: "77293033", showTab: false }]);  // lang is ja: hide en form
    {% else %}
    _dcq.push(["hideForm", { id: "96268574", showTab: false }]);  // lang is en: hide ja form
    {% endif %}

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/3014440.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
  </script>
</body>
</html>
