{% extends "base.html" %}

{% block hreflang %}
  <link rel="alternate" href="https://help.xoxzo.com/{{ category.url }}" hreflang="x-default"/>
  <link rel="alternate" href="https://help.xoxzo.com/en/{{ category.url }}" hreflang="en"/>
  <link rel="alternate" href="https://help.xoxzo.com/ja/{{ category.url }}" hreflang="ja"/>
{% endblock %}

{% block content %}
<header class="navbar header-sm">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">{{ category }}</li>
    </ol>
    <div class="searchbar ml-md-auto d-none d-md-block">
      <form class="input-group" action="{{ SITEURL }}/search" onsubmit="return validateForm(this.elements['q'].value);">
        <input type="text" id="tipue_search_input" class="form-control" name="q" placeholder="{% trans %}Start your search{% endtrans %}">
        <span class="input-group-btn">
          <button class="btn btn-white" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </form>
    </div>
  </div>
</header>
<main>
  <section class="content">
    <div class="container">
      <h2 class="content-title">{{ category }} | {{ category.child }}  </h2>
      <ul class="content-list">
        {% for article in articles %}
        {% for subcategory in article.category.anchestors or [article.category] %}
        <li>
          <a href="{{ SITEURL }}/{{ subcategory.url }}" class="badge badge-secondary">{{ subcategory.shortname }}</a>
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
        {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
        {% endif %}
    </div>
  </section>
</main>
{% endblock content %}
