{% extends "base.html" %}

{% block content %}
<header class="header-lg">
    <div class="container">
        <h1 class="text-center">{% trans %}How can we help you ?{% endtrans %}</h1>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form class="input-group" action="{{ SITEURL }}/search" onsubmit="return validateForm(this.elements['q'].value);">
                <input type="text" id="tipue_search_input" class="form-control" name="q" placeholder="Type keywords to find answers">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </form>
        </div>
    </div>
</header>
<main class="container">
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="content-title">EZSMS:SMS delivery service</h2>
                    <ul class="content-list">
                        {% include 'ezsms-subcategory.html' %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2 class="content-title">Xoxzo Cloud Telephony Platform</h2>
                    <ul class="content-list">
                        {% include 'xoxzo-subcategory.html' %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
