{% extends "base.html" %}

{% block hreflang %}
  <link rel="alternate" href="https://help.xoxzo.com/" hreflang="x-default"/>
  <link rel="alternate" href="https://help.xoxzo.com/en" hreflang="en"/>
  <link rel="alternate" href="https://help.xoxzo.com/ja" hreflang="ja"/>
{% endblock %}

{% block content %}
<header class="header-lg">
  <div class="container">
    <h1 class="text-center">{% trans %}How can we help you ?{% endtrans %}</h1>
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form class="input-group" action="{{ SITEURL }}/search" onsubmit="return validateForm(this.elements['q'].value);">
        <input type="text" id="tipue_search_input" class="form-control" name="q" placeholder="{% trans %}Start your search{% endtrans %}">
        <span class="input-group-btn">
          <button class="btn btn-white" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </form>
    </div>
  </div>
</header>
<main class="index">
  <section class="content">
    <div class="container">
      <div class="row">
        {% for category, articles in categories %}
        <div class="col-md-6 category mb-5 mb-md-0">
          <a class="category-title" href="{{ category.url }}">
            <h2 class="content-title">{{ category }}</h2>
          </a>
          <ul class="content-list">
            {% for article in articles %}
            {% if loop.index <= 7 %}
            <li>
              <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <a class="link-point" href="{{ SITEURL }}/{{ category.url }}">
            <h5>{% trans %}View all articles{% endtrans %} ></h5>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
